@import 'reset.scss';

$primary-color: #FFFD72;

body {
	width: 100%;
	margin: 0 auto;
	font-size: 1.2em;
	font-family: 'Calibri', Arial, sans-serif;
	line-height: 1.25em;
	background-color: $primary-color;
}

nav ul {
	width: 100%;
	padding: 0em;
	background-color: black;
	display: inline-block;
	list-style-type: none;	
}

nav ul li {
	width: 50%;
	padding: 0.625em 0;
	text-align: center;
	display: block;
	float: left;  

	-webkit-transition: all 300ms cubic-bezier(0.6,.01,0.43,1);
	-moz-transition: 	all 300ms cubic-bezier(0.6,.01,0.43,1);
	-ms-transition: 	all 300ms cubic-bezier(0.6,.01,0.43,1);
	-o-transition: 		all 300ms cubic-bezier(0.6,.01,0.43,1);
	transition: 		all 300ms cubic-bezier(0.6,.01,0.43,1);
}

nav ul li:hover {
	background-color: rgba(0, 139, 61, 0.76);
}

nav ul li a {
	width: 100%;
	color: white;
	text-decoration: none;
	display: inline-block;
}

section {
	display: none;
}

section.active, section.active section {
	display: block;
}

section#movie-page header > p {
	font-style: italic;
}

section#movie-page article {
	
}

section#movie-page article section {
	margin-bottom: 1em;
	background-color: rgba(235,235,235,1);
}

section#movie-page article section header h1 {
	font-size: 1.5em;
	margin: 0em;
}