@import 'reset.css';
@import 'flaticon/flaticon.css';

$text-color: #000000;   // Black
$alt-text-color: #FFFFFF;   // White

$background-color: #FFFFFF; // White
$alt-color: #ECECEC; // Light grey

$home-color: #5588DC;   // Blue
$about-color: #F2CC0F;  // Yellow
$movie-color: #1DB35F;  // Green
$detail-color: #F24F4B; // Red
$back-color: $detail-color;
$load-color: $detail-color;
$sec-load-color: $about-color;

$genre-filter-color: #EF6B42;  // Pastel Orange
$date-filter-color: #42A1C0;   // Pastel Blue
$rating-filter-color: #90CC49; // Pastel Green

$main-font: 'Roboto', 'Calibri', sans-serif;
$title-font: 'Roboto Slab', 'Calibri', sans-serif;

body {
	width: 100%;
	margin: 0 auto;
	background-color: $background-color;
	color: $text-color;
	font-size: 1.2em;
	font-family: $main-font;
	font-weight: 300;
	line-height: 1.25em;
}

a, a:hover, a:visited, a:active {
	text-decoration: none;
}

/*
##      ##  ##  ##  ##	##  ##  ##
###    ###  ##   ####	##  ### ##
####  ####  ##    ##	##  ######
## #### ##  ##   ####	##  ## ###
##  ##  ##  ##  ##  ##	##  ##  ##
*/

@mixin filter-title {
	height: 2em;
	width: 100%;
	padding-top: 0.6em;
	color: white;
	font-family: $title-font;
	font-weight: bold;
	text-align: center;
}

@mixin filter-list {
	height: 1.5em;
	width: 100%;
	text-align: center;
	display: none;

	-webkit-transition: all 300ms cubic-bezier(0.6,.01,0.43,1);
	-moz-transition: 	all 300ms cubic-bezier(0.6,.01,0.43,1);
	-ms-transition: 	all 300ms cubic-bezier(0.6,.01,0.43,1);
	-o-transition: 		all 300ms cubic-bezier(0.6,.01,0.43,1);
	transition: 		all 300ms cubic-bezier(0.6,.01,0.43,1);
}

@mixin page-title {
	width: 100%;
	padding: 0em 0em 0.5em 0em;
	color: $text-color;
	font-family: $title-font;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

@mixin menu-item {
	height: 100%;
	margin-top: 0.8em;
	color: white;
	text-decoration: none;
	display: block;
	flex: 1 1 auto;
	text-align: center;

	-webkit-transition:	all 300ms cubic-bezier(0.6,.01,0.43,1);
	-moz-transition: 	all 300ms cubic-bezier(0.6,.01,0.43,1);
	-ms-transition: 	all 300ms cubic-bezier(0.6,.01,0.43,1);
	-o-transition: 		all 300ms cubic-bezier(0.6,.01,0.43,1);
	transition: 		all 300ms cubic-bezier(0.6,.01,0.43,1);
}


/*
##  ##  ######   ####   ####    ######  ####      
##  ##  ##      ##  ##  ##  ##  ##      ##  ##  
######  ####    ######  ##  ##  ####    ####  
##  ##  ##      ##  ##  ##  ##  ##      ##  ##  
##  ##  ######  ##  ##  ####    ######  ##  ##    
*/

body > header {
	width: 100%;	
	position: fixed;
	bottom: 0em;
	left: 0;
}

/*
##  ##   ####   ##  ##
### ##  ##  ##  ##  ##
######  ######  ##  ##
## ###  ##  ##   ####
##  ##  ##  ##    ##
*/

header > nav {
	
	ul.flex-menu {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		align-content: stretch;
		align-items: stretch;

		li:nth-of-type(1) {
			@include menu-item;
			background-color: $back-color;
		}

		li:nth-of-type(2) {
			@include menu-item;
			background-color: $about-color;
		}

		li:nth-of-type(3) {
			@include menu-item;
			background-color: $movie-color;
		}

		li:nth-of-type(4) {
			@include menu-item;
			background-color: $home-color;
		}

		li.current {
			flex: 2.5 1 auto;
		}

		li.hidden {
			display: none;
		}

		li a {
			color: $alt-text-color;
			margin-top: 0.7em;
			display: block;
		}
	}
}

section {
	display: none;
}

section.active, section.active section {
	display: block;
}

/*
##      ##   ####   ##  ##  ##  
###    ###  ##  ##  ##  ### ##  
####  ####  ######  ##  ######   
## #### ##  ##  ##  ##  ## ###    
##  ##  ##  ##  ##  ##  ##  ##  
*/

/*
##     ####    ####   ####    ##  ##  ##   #### 
##    ##  ##  ##  ##  ##  ##  ##  ### ##  ##  
##    ##  ##  ######  ##  ##  ##  ######  ## ###
##    ##  ##  ##  ##  ##  ##  ##  ## ###  ##  ##
####   ####   ##  ##  ####    ##  ##  ##   #### 
*/

section#loading {

	div {

		h1 {
			height: 2.75em;
			width: 4em;
			padding: 4.25em 3em 3em 3em;
			background-color: $load-color;
			color: white;
			font-size: 1.2em;
			font-weight: bold;
			position: fixed;
			top: 10%;
			left: 17%;
			flex: 0 1 auto;
			align-self: center;

			-webkit-animation: 	loader 2.5s infinite ease-in-out;
			-moz-animation: 	loader 2.5s infinite ease-in-out;
			-o-animation: 		loader 2.5s infinite ease-in-out;
			}
			@-webkit-keyframes loader {
			0% {	 -webkit-transform: scale(1) skew(-180deg); border-radius: 50% 0%;}
			50% { 	 -webkit-transform: scale(0.65) skew(0deg); border-radius: 0% 50%;} 
			100% {	 -webkit-transform: scale(1) skew(180deg);  border-radius: 50% 0%;}
			}
			@-moz-keyframes loader {
			0% {	 -moz-transform: scale(1) skew(-180deg) translate(0px); border-radius: 50% 0%;}
			50% { 	 -moz-transform: scale(0.65) skew(0deg) translate(0px); border-radius: 0% 50%;}
			100% {	 -moz-transform: scale(1) skew(180deg) translate(0px);  border-radius: 50% 0%;}
			}
			@-o-keyframes loader {
			0% {	 -o-transform: scale(1) skew(-180deg); border-radius: 50% 0%;}
			50% { 	 -o-transform: scale(0.65) skew(0deg); border-radius: 0% 50%;}
			100% {	 -o-transform: scale(1) skew(180deg);  border-radius: 50% 0%;}
		}
	}
}

/*
##  ##   ####   ##      ##  ######
##  ##  ##  ##  ###    ###  ##    
######  ##  ##  ####  ####  ####  
##  ##  ##  ##  ## #### ##  ##    
##  ##   ####   ##  ##  ##  ######
*/

section#home-page {

	header {

		h1 {
			@include page-title;
			padding: 0.5em 0em;
			background-color: $home-color;
			color: $alt-text-color;
		}
	}

	div {
	
		p {
			padding: 0.5em;
			font-size: 1.1em;
			line-height: 1.3em;
		}

		p#cup-container {
			height: 13em;
			width: 13em;
			margin: 0 auto;
			padding: 0;
			color: $alt-text-color;
			background: $home-color;
			border-radius: 50%;

			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-content: center;
			align-items: center;

			span {
				margin: 0.6em 0em 0em 0.15em;
				font-size: 5em;
				flex: 0 1 auto;
				align-self: center;
			}
		}

		p:last-child {
			width: 100%;
			padding: 0.2em 0em;
			color: transparentize($text-color, 0.65);
			text-align: center;
			font-style: italic;
		}
	}
}

/*
 ####   #####    ####   ##  ##   ######
##  ##  ##  ##  ##  ##  ##  ##    ##
######  #####   ##  ##  ##  ##    ##
##  ##  ##  ##  ##  ##  ##  ##    ##
##  ##  #####    ####    ####     ##  
*/

section#about-page {

	header {

		h1 {
			@include page-title;
			padding: 0.5em 0em;
			background-color: $about-color;
			color: $alt-text-color;
		}
	}

	div {
	
		p {
			padding: 0.5em;
			font-size: 1.1em;
			line-height: 1.3em;
		}

	}
}

/*
##      ##   ####   ##  ##  ##  ######
###    ###  ##  ##  ##  ##  ##  ##    
####  ####  ##  ##  ##  ##  ##  ####  
## #### ##  ##  ##   ####   ##  ##    
##  ##  ##   ####     ##    ##  ######
*/

section#movie-page {

	> ul {
		margin-bottom: 0.5em;

		ul li a {
			padding-top: 0.1em;
			display: inline-block;
			color: $alt-text-color;
		}

		ul#genre {

			h1 {
				@include filter-title;				
				background-color: $genre-filter-color;
			}	
			
			li {
					@include filter-list;
					background-color: transparentize($genre-filter-color, 0.25);
				}

			li:hover {
				background-color: $genre-filter-color;
			}
		}

		ul#date {


			h1 {
				@include filter-title;				
				background-color: $date-filter-color;
			}
			
			li {
				@include filter-list;
				background-color: transparentize($date-filter-color, 0.25);
			}

			li:hover {
				background-color: $date-filter-color;
			}
		}

		ul#rating {


			h1 {
				@include filter-title;				
				background-color: $rating-filter-color;
			}
			
			li {
				@include filter-list;
				background-color: transparentize($rating-filter-color, 0.25);
			}

			li:hover {
				background-color: $rating-filter-color;
			}
		}

		ul#genre.active li, ul#date.active li, ul#rating.active li {
			display: block;
		}
	}	

	article {

		section {
			padding: 1em 0.5em;
			box-shadow: 0 -0.25em 1.25em 0 rgba(0, 0, 0, 0.21);
		
			header {

				h1 {
					@include page-title;
				}


				p {
					width: 100%;
					font-size: 1.2em;
					text-align: center;
				}
			}

			figure {
				max-width: 40em;
				margin: 0.5em auto;
				text-align: center;

				img {
					width: 40%;
					margin-top: 0.3em;
				}
			}

			> p:last-of-type {
				font-style: italic;
			}

			> a {
					width: 100%;
					margin: 0.5em 0em;
					padding: 0.5em 0em;
					background-color: $detail-color;
					color: $alt-text-color;
					text-align: center;
					display: inline-block;
					box-shadow: 0 0.125em 0.063em 0 rgba(0,0,0,0.5);
			}
			
			>a:active, a:hover {
				margin: 0.55em 0em 0.45em;
				box-shadow: none;
			}

		}

		section:first-of-type {
			box-shadow: none;
		}

		section:last-of-type {
			margin-bottom: 2em;
		}

		section:nth-of-type(even) {
			background-color: $alt-color;
		}
	}
}

/*
	####  ##	#####  ##  ##
	##    ##	##__   ##  ##
	###   ##	##‴‴	####
	##    ####	#####  ##  ##
*/
.flex-wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: space-around;

	.flex-item {
		order: 0;
		flex: 1 1 auto;
		align-self: auto;
	}
}

/*
####    ######  ######	 ####   ##  ##  
##  ##  ##        ## 	##  ##  ##  ##
##  ##  ####      ##	######  ##  ##
##  ##  ##        ## 	##  ##  ##  ##
####    ######    ##    ##  ##  ##  ####
*/

section#detail-page {
	margin-bottom: 1.6em;

	article {
		
		header {
			width: 100%;

			h1 {
				@include page-title;
				padding: 0.5em 0em;
				background-color: $movie-color;
				color: $alt-text-color;
			}
		}

		p.plot {
			padding: 0.5em;
			border-bottom: 0.3em dotted #1DB35F;
		}

		p.meta {
			padding: 0em 0.5em;
			order: 1;
		}

		p:first-of-type {
			padding-top: 0.5em;
		}

		p:nth-of-type(3) {
			padding-bottom: 0.5em;
		}

		figure {
			width: 100%;
			border-top: 0.3em dotted #1DB35F;
			order: 2;

			img {
				width: 100%;
			}

			img#loader {
				width: 3.75em;
				margin-top: -12em;
				position: absolute;
				left: 40%;
				z-index: -1;
			}
		}

	}
}

/*
	####  ##	#####  ##  ##
	##    ##	##__   ##  ##
	###   ##	##‴‴	####
	##    ####	#####  ##  ##
*/
.flex-movie {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: space-around;

	.flex-movie-item {
		order: 0;
		flex: 1 1 auto;
		align-self: auto;
	}
}