body {
	width: 70%;
	margin: 0 auto;
	font-size: 1.2em;
	font-family: 'Calibri', Arial, sans-serif;
	line-height: 1.25em;
	text-align: justify;
}

section {
	display: none;
}

section.active, section > section {
	display: block;
}

section#movie-page header > p {
	font-style: italic;
}